
.nav-link {
  background-color: inherit;
  transition: background-color 400ms;
  padding: 10px;
  margin-left: 35px;
  margin-right: 1px;
  margin-bottom: 25px;
  font-size: 18px;
  text-decoration: none;
  color: #121212;
  font-family: Source Code Pro, system-ui;
  top: 50%;
}

.nav-link:hover {
  background-color: #c4c4c4;
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #111111;
}

html {
  font-size: 19px;
}

body {
  font-family: Source Code Pro, system-ui;
  font-size: 1rem;
  background-color: white;
}


div.navbar-nav {
  list-style-type: none;
  margin: -8px;
  margin-left: 35px;
  padding: 10px;
  overflow: hidden;
  background-color: #c4c4c4;
  margin-top: -1%;
  margin-right: 1px;
  text-decoration: none;
  text-decoration: none;
  color: #111111;
}
